@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 243, 243);
}

main{
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    width: 100%;
    height: 100vh;
    margin-left: 8rem;
    margin-top: 5rem;
    width: 1440px;
    height: 80vh;
    background-color: white;
    margin: auto;
    margin-top: 5rem;
    box-shadow: 0 5px 5px gray;
}

aside {
        position: absolute;
        left: 300px;
        width: 35%;
        height: 250px;
        padding: 40px;
        padding-top: 120px;
    
}


h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 2em;
    margin-right: 10rem;
}

aside p {
    color:hsl(303, 10%, 53%) ;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 10rem;
}

#Banners {
    position: absolute;
    right: 0;
    top: 200px;
    width: 65%; 
}
.smallBanner {
    background-color:hsl(300, 24%, 96%);
    display: inline-block;
    padding: 13px 40px;
    border-radius: 10px;
}
.smallBanner:nth-of-type(1) {
    margin-left: 250px;
}

.smallBanner:nth-of-type(2) {
    margin-left: 320px;
    margin-top: 20px;
}

.smallBanner:nth-of-type(3) {
    margin-left: 420px;
    margin-top: 20px;
}

.text {
    color:hsl(300, 43%, 22%);
    font-weight: 700;
    margin-left: 15px;
}

.fa-star::before{
    color: rgb(255, 187, 0);
    display: inline-block;
    margin-right: 0.5rem;  
}


.section-1{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: hsl(300, 43%, 22%);
    height: 20vh;
    width: 375px;
    padding: 1rem;
    margin-left: 8rem;
    margin-top: 3rem;
    border-radius: 7px;  
}

.p1{
    margin-bottom: 1rem; 
}

.section-2{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: hsl(300, 43%, 22%);
    height: 20vh;
    width: 375px;
    padding: 1rem; 
    margin-left: 2rem;
    margin-top: 4rem;
    border-radius: 7px;   
}

.section-3{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: hsl(300, 43%, 22%);
    height: 20vh;
    width: 375px;
    padding: 1rem; 
    margin-left: 2rem;
    margin-top: 5rem;
    border-radius: 7px;   
}

.sections{
    display: inline-flex;
    margin-top: 20rem;
    
}

.p2::before{
        content:open-quote;
        color: white;
        font-size: 1rem;
}
    
.p2::after{
        content: close-quote;
        color: white;
        font-size: 1rem;
}

img{
   width: 40px;
   height: 40px; 
   float: left;
   margin-right: 1rem;
   border-radius: 50%;
}

span{
    color: rgba(248, 18, 248, 0.904);
}

/*
.p1::before{
    position: absolute;
    content: "";
    background-image: url(/images/james.jpg);
    height: 30px;
    width: 30px;
    background-size: contain;
   
}

